{% extends '::base.html.twig' %}

{% block title %}Mon devis en ligne{% endblock %}
{% set language = 'fr' %}

{% block body %}
{% set send = 1 %}
{% set new = 1 %}
{% set save = 1 %}
{% include 'SCGBDevisBundle:NavigationAdmin:list.html.twig' %}

<div id="bottom" class="row-fluid ">
		<div class="space_box white_box">
			<h1 class="text_blue title text-left " > Mon devis / Identifiant : {{ entity.id }} <span class="pull-right">Coût total : {{ entity.globalAmount }} €</span></h1>

			<div class="form-padding">
				<legend>Vos différentes pièces <a href="{{ path('devis_update', {'id':entity.id}) }}" class="btn pull-right" id="udapte_room">Modifier mes pièces</a></legend>
				{% if entity.rooms is empty %}
				<div class="alert alert-block">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Oups ! </strong> Vous n'avez pas ou plus de pièce associé à votre devis, nous vous invions à en ajouter  :
					<a href="{{ path('devis_update', {'id':entity.id}) }}" class="btn btn-primary" style="margin-left:10px;" id="add_room">Ajouter des pièces</a>

				</div>
				{% else %}
				<div class="result spacer">
					<table class="table table-striped table-bordered table-hover" >
						<tr>
							<th style="text-align:center">{% trans %}Nom{% endtrans %}</th>
							<th style="text-align:center">{% trans %}Taile (m²){% endtrans %}</th>
							<th style="text-align:center">{% trans %}Hauteur (m){% endtrans %}</th>
							<th style="text-align:center">{% trans %}Coût des travaux (€){% endtrans %}</th>
							<th style="text-align:center">{% trans %}Action{% endtrans %}</th>
						</tr>
						{% for room in entity.rooms %}
							<tr>
								<td style="text-align:center;width:80px;">{{ room.name}}</td>
								<td style="text-align:center;width:20px;">{{ room.size}} </td>
								<td style="text-align:center;width:20px">{{ room.width }}</td>
								<td style="text-align:center;width:20px">{% if room.totalWorkAmount is empty %} Aucun travaux associés{% else %}{{ room.totalWorkAmount }} {% endif %}</td>
								<td style="text-align:center;width:120px"> <a href="{{ path('room_add_work', {'id':room.id}) }}" class="btn btn-success pull-left" id="add_work">Ajouter des travaux</a> <a href="{{ path('room_remove', {'id':room.id}) }}" class="btn btn-warning pull-right" id="delete_room">Supprimer la pièce</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}
